<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
  </head>
  
  <body>
    <h3>Créditos</h3>
    <br>
    <p><%= autores %></p>
    <div>
      <img src="images/barakat.png" 
        width=170 height=250 alt="Beatriz Barakat">
      <img src="images/yrula.jpg" width=250 height  =170 alt="Jonathan Hurtado">     
    </div>
    
  </body>
</html>
