*	 { margin: 1 px; padding: 0;}
body	 {font: 16px Georgia, serif;}


#page-wrap	{ margin: 2% auto; color: white;}
#page-wrap > .main 	{  padding: 1%;
					margin-bottom: 2%; color: black;}
section > div	{ padding: 20px;}
header, nav {border: 1px solid #999; background: : #eef; text-align: center;}
section { text-align: center;}
footer {border: 1px solid #999;background: : #eee; text-align: center;}
nav, span {margin: 0px 10px 0px 0px;}

a {
  color: #00B7FF;
}